[MESSAGES CONTROL]
disable=
    no-member,
    import-error,
    missing-module-docstring,
    missing-function-docstring,
    bare-except,
    redefined-outer-name,
    line-too-long,
    c-extension-no-member,
    broad-exception-caught
